<!--index.html-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Hello</title>
</head>

<body>
    <h1>Hello from index.html</h1>
    <p class="hello">Violet Color</p>
    <p>Hello, World!
    <p>
        <a href="/jinja">Let's go to index_jinja.html</a>

    <h1>form送信</h1>
    <form action="/form" method="GET">
        <input name="data"></input>
        <button type="submit">送信</button>
    </form>

</body>

</html>