<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>psemi_1-4</title>
  </head>

  <body>
    <h1>1-4</h1>

    <div class='sectionWrapper'>
      <h2>2</h2>
      <ul>
        {% for i in context['nums'] %}
        <li>{{ i }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class='sectionWrapper'>
      <h2>3</h2>
      <ul>
        {% for key, value in context['like'].items() %}
        <li>{{ key }}は<span>{{ value }}</span>です。</li>
        {% endfor %}
      </ul>
    </div>

    <div class='sectionWrapper'>
      <h2>4</h2>
      {% if context['flag'] %}
      <p>flag is true</p>
      {% else %}
      <p>flag is false</p>
      {% endif %}
    </div>
  </body>
</html>
